* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}
.flex {
  display: flex;
}
.flex-align {
  align-items: center;
}
.flex-content {
  justify-content: center;
}
.flex-wrap {
  flex-wrap: wrap;
}
.flex-dir {
  flex-direction: column;
}
.container {
  width: 100%;
  height: 100vh;
}
.container .wrapper {
  width: 80%;
  height: 80%;
  background-color: #c9c9c9;
  border-radius: 1rem;
}
.container .wrapper .header {
  width: 100%;
  height: 25%;
  border-radius: 1rem 1rem 0 0;
}
.container .wrapper .header h1 {
  margin-top: 1rem;
  color: #7b7b7b;
  font-family: 'Josefin Sans', sans-serif;
}
.container .wrapper .header .input-div {
  justify-content: space-evenly;
  width: 100%;
}
.container .wrapper .header .input-div > * {
  margin: 0.3rem;
  height: 2.5rem;
  border-radius: 2rem;
  outline: none;
  border: none;
}
.container .wrapper .header .input-div input[type='text'] {
  width: 40rem;
  padding-left: 1rem;
  cursor: pointer;
  transition: background-color 0.2s ease-out;
}
.container .wrapper .header .input-div input[type='text']:hover {
  background-color: rgb(226, 226, 226);
}
.container .wrapper .header .input-div button {
  width: 4rem;
  transition: background-color 0.3s ease-out;
  cursor: pointer;
}
.container .wrapper .header .input-div button:hover {
  background-color: #49df49;
}
.container .wrapper .footer {
  width: 100%;
  height: 75%;
  padding: 1rem;
  overflow: scroll;
  border-radius: 0 0 1rem 1rem;
}
.container .wrapper .footer::-webkit-scrollbar {
  display: none;
}
.container .wrapper .footer .content {
  width: 96%;
  height: 20%;
  margin: 0.7rem;
  border-radius: 1rem;
  justify-content: space-around;
  background: rgb(71, 149, 255);
  background: linear-gradient(
    102deg,
    rgba(71, 149, 255, 1) 0%,
    rgba(176, 79, 244, 1) 50%,
    rgba(236, 15, 255, 1) 100%
  );
  overflow: scroll;
  position: relative;
}
.container .wrapper .footer .content::-webkit-scrollbar {
  display: none;
}
.container .wrapper .footer .content .content-data {
  width: 40rem;
}
.container .wrapper .footer .content button {
  width: 5rem;
  border-radius: 5rem;
  border: none;
  height: 2.5rem;
  transition: background-color 0.5s ease-out;
  cursor: pointer;
}
.container .wrapper .footer .content button:hover {
  background-color: #f53535;
}
.container .wrapper .footer .content input {
  width: 1rem;
  height: 1rem;
  cursor: pointer;
}
@media (max-width: 1024px) {
  .container .wrapper .footer .content .content-data {
    width: 25rem;
  }
}
@media (max-width: 768px) {
  .container .wrapper .footer .content .content-data {
    width: 26rem;
  }
}
@media (max-width: 768px) {
  .container .wrapper .footer .content .content-data {
    width: 10rem;
  }
}
@media (max-width: 425px) {
  .container .wrapper {
    width: 100%;
    height: 100vh;
    border-radius: 0;
  }
  .container .wrapper .header .input-div input[type='text'] {
    width: 18rem;
  }
  .container .wrapper .footer .content .content-data {
    width: 50%;
    overflow-y: scroll;
  }
  .container .wrapper .footer .content button {
    width: 2rem;
  }
  .container .wrapper .header {
    border-radius: 0;
  }
  .container .wrapper .footer {
    border-radius: 0;
  }
}
